/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]

/*
----------------------------- COMMON --------------------------------------- 
*/
.myhidden {
	display:none!important;
}

/*
----------------------------- PATH TO PAGE ----------------------------------
*/
.breadcrumb a {
    color: black;
}

.breadcrumb-nav-mobile {
    float: left;
    margin-bottom: 10px;
}

.pathHidden {
        display:none!important;
}

.showFullPath, .showMobilePath {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #88b77b!important;
    padding: 10px 16px;
    background-color: rgba(255, 255, 255, .0);
}

.showFullPath:hover, .showMobilePath:hover
{
        color: #88b77b;
        background-color: rgba(255, 255, 255, .0);
}

.showFullPath:focus, .showMobilePath:focus
{
        color: #88b77b;
        background-color: rgba(255, 255, 255, .0);
}

/* Ограничиваем ширину панели с путем к странице для вывода на ее же уровне кнопки скрытия пути */
.breadcrumb-nav {
        width: 80%;
}

/* Настройка скрытия полного пути к курсу */
@media (max-width:979px)
{
        .hidden-fullPath {
                display:none!important;
        }
}

/* Настройка скрытия свернутого (укороченного) пути к курсу */
@media (min-width:980px)
{
        .hidden-mobilePath {
                display:none!important;
        }
}


/*
-------------------------------------- LOGO -------------------------------------------------------
*/
.logo
{
        width: 235px;
        height: 66px;
        padding-top: 2px;

        float: left;
        min-height: 66px;
        margin-left: 20px;
}

.logo img {
        width: 30%;
        height: 100%;
}

.logo a {
        font-size: 23px;
        text-decoration: none;
        color: white;
}

.logo a:hover {
        color: white;
}

.logo a:focus {
        color: white;
}


/*
------------------------------------ USER PROFILE ---------------------------------------------------
*/
.myshortcoursename {
        color: black;
}

/*
----------------------------------  COURSES LIST -----------------------------------------------------
*/
.block_course_overview .coursebox {
        padding: 3px;
}

.coursebox .content {
        padding: 3px 0 0!important;
        min-height: 5px!important;
}

.coursesnotfound {
        font-weight: bold;
        font-style: italic;
}

/*
------------------------------------- RESOLUTIONS ------------------------------------------------------
*/
@media (max-width:219px)
{
        .logo {
                display:none!important;
        }

        .usermenu {
                display:none!important;
        }
}

@media (min-width:220px) and (max-width:314px)
{
        .logo {
                width: 125px;
                height: 66px;
                padding-top: 2px;

                float: left;
                min-height: 1px;
                margin-left: 20px;
        }

        .logo img {
                width: 30%;
                height: 100%;
        }

        .logo a {
                display:none!important;
        }

        .usermenu {
                display:none!important;
        }
}

@media (min-width:315px) and (max-width:767px)
{
        .logo
        {
                width: 205px;
                height: 66px;
                padding-top: 2px;

                float: left;
                min-height: 1px;
                margin-left: 20px;
        }


        .logo img {
                width: 30%;
                height: 100%;
        }

        .usermenu {
                display:none!important;
        }
}

@media (min-width:768px) and (max-width:979px)
{
        .usermenu {
                display:none!important;
        }
}

@media (min-width:980px) and (max-width:1199px)
{
        .usermenu {
                display:none!important;
        }
}

@media (min-width:1200px)
{
}


/*
------------------------------------------------- COMBO LIST --------------------------------------
*/
.without_children {
        display: none!important;
}

.is_not_enrolled {
        display: none!important;
}

/* Цвет ссылок на курсы */
.coursebox > .info > .coursename a {
        color: black;
}

.enrolmenticons {
    position: absolute;
    top: 0;
    right: 30px;
}

.coursename {
    width: 90%;
}


/*
---------------------------------------------- FOOTER ---------------------------------------------------
*/
/* Ссылки */
.foot-links h2 {
        color: #ff6600;
}

/* Контакты */
.nopadding {
        color: #ff6600;
}


/*
--------------------------------------------- FRONTPAGE ---------------------------------------------------
*/
div#frontpage-category-combo h2 {
    font-style: italic;
}

.changeViewModeBtn {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: none;
    background: #88b77b;
    padding: 10px 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 30px;
    height: 35px;
    text-align: center;
}

.changeViewModeBtn:hover
{
	background-image: url('/theme/academi/pix/tree.png');
  	background-color: transparent; /* make the button transparent */
    	background-repeat: no-repeat;  /* make the background image appear only once */
    	background-position: 0px 0px;  /* equivalent to 'top left' */
    	border: none;           /* assuming we don't want any borders */
    	cursor: pointer;        /* make the cursor like hovering over an <a> element */
    	vertical-align: middle;
    	background-size: 110%;
}

.changeViewModeBtn:focus
{
    	background-color: transparent; 
    	background-repeat: no-repeat;  
   	background-position: 0px 0px;  
    	border: none;           
    	cursor: pointer;        
    	vertical-align: middle; 
}

.mycoursesheader {
    position: absolute;
}

.changeViewMode {
    position: absolute;
    padding-left: 200px;
    padding-top: 11px;
}

div#mycoursesplace {
    padding-top: 70px;
}

.changeViewModeBtn {
    	background-image: url('/theme/academi/pix/tree.png');
    	background-color: transparent; /* make the button transparent */
    	background-repeat: no-repeat;  /* make the background image appear only once */
    	background-position: 0px 0px;  /* equivalent to 'top left' */
    	border: none;           /* assuming we don't want any borders */
	cursor: pointer;        /* make the cursor like hovering over an <a> element */
    	vertical-align: middle; /* align the text vertically centered */
    	background-size: 100%;
}
/*
-------------------------------------------- MY COURSES --------------------------------------------------
*/
tr.odd {
    background-color: #EAEAEA;
}
