table.of {
    border: none !important;
    border-collapse: separate;
}
th.of {
    background-color: #136c90;
    color: #fff;
    border-collapse: separate;
}
th.ofi {
    background-color: #8c40a0;
    color: #fff;
    border-collapse: separate;
}
th.ofo {
    background-color: #40a082;
    color: #fff;
    border-collapse: separate;
}

th.ofb {
	background-color: #30d5c8;
    color: #fff;
    border-collapse: separate;
}

th.of, td.of, th.ofo, td.ofo, th.ofi, td.ofi, th.ofb, td.ofb {
    border: 1px solid #bbb;
    padding: 1px 5px;
    font-size: 0.8em;
}
.center { text-align: center; }
.nowrap { white-space: nowrap; }
.hidden, tr.hidden a {
    color: #777;
    font-style: italic;
}

.closed {
    color: #2e8b57;
    font-style: italic;
}


ul.ep_tm_menu {
	clear: both;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 612px;
	line-height: 1.2;
}

ul.ep_tm_menu {
	background: #204f76;
	background-image: url(underheader.png);
	padding-bottom: 2px;
}

ul.ep_tm_menu li {
	list-style: none;
	display: inline;
}

tr.ep_tm_coef {
	border-color: #DDD;
	border-width: 0 0 1px;
	border-style: solid;
}

ul.ep_tm_menu li ai {
	background: #204f76;
	background-image: url(toolbox.png);
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

ul.ep_tm_menu li a {
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	padding-bottom: 2px;
	
}

#page {
font-size: 108%;
line-height: 1.2;
}

ul.ep_tm_menu li a:hover {
	background-image: url(toolbox.png);
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	padding-bottom: 2px;
}

ul.ep_tm_menu li a {
	text-decoration: none;
	color: #000;
}
ul.ep_tm_menu li a:visited {
	color: #000;
}
